{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	Task: {{ task }}
{% endblock %}

{% block scripts %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- Plotting scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<link rel="stylesheet" href="{% static 'd3/d3-context-menu.css' %}">
    <script src="{% static 'd3/d3-context-menu.js' %}"></script>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<style>
		.hide: { display: none; visibility: hidden }
		.otree-body {
			max-width:1000px
		}
	</style>

{% endblock %}

{% block content %}

	<!-- Scoreboard -->
	<div class="panel panel-default" id="ScoreboardTable" style="margin-bottom:20px">
	</div>

	<!-- Tradespace Panel -->
	<div class="panel panel-default">
		<div class="panel-heading">Tradespace Visualization</div>
		<div id="tsViz" style="width:700;height:400px;"></div>
	</div>

	<div class="row">
		<!-- Design Vizualization Panel -->
		<div class="col-md">
			<div class="panel panel-default">
				<div class="panel-heading"> Metamaterial Visualization - Selected <span style="color: transparent;  text-shadow: 0 0 0 red; ">&#10133;</span></div>
				<div id="desViz" style="width:420px;height:420px;float:center"></div>
			</div>
		</div>
		<!-- Design Creation Panel -->
		<div class="col-md">
			<!-- Tabs -->
			<div class="panel panel-default">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design" aria-selected="true"> Change Design </a>
					</li>
				</ul>
				<!-- Tabs Content -->
				<div class="tab-content" id="myTabContent">
					<!-- Design tab -->
					<div class="tab-pane fade show active" id="design" role="tabpanel" aria-labelledby="design-tab">
						<div id="desCreat" style="width:420px;height:420px;">
							<p style="text-align:center"> 
								<em> 
									Left-Click to Add Link; Double-Click to Remove Link; <br> 
									Right-Click to Change radius 
								</em>
							<br>
								<label for="default_radius">Default radius:</label>
								<select name="default_radius" id="default_radius">
									{% for key, value in Constants.radii.items %}
										<option value={{ value }}> {{ key }} </option> 
									{% endfor %}
								</select> 
								<br>
								<label for="material">Material:</label>
								<select name="material" id="material">
								  	{% for name, E in Constants.materials.items %}
										<option value={{ E }}> {{ name }} </option> 
									{% endfor %}
								</select> 
								<br>
								<label for="all_radius">  Change radius for all:</label>
								<select name="all_radii" id="all_radii">
								  	{% for key, value in Constants.radii.items %}
										<option value={{ value }}> {{ key }} </option> 
									{% endfor %}
								</select> 
							</p>
						</div>
						<button id="clearAll" type="button" class="btn btn-secondary btn-sm" style="float:left; position:relative; bottom:50px; left:50px"> Clear All </button>
						
					</div>
				</div>
				<button id="testDesign" type="button" class="btn btn-primary" style="float:right; position:relative; bottom:50px; right:50px">Test Metamaterial</button>
			</div>
		</div>
	</div>

	<div>
		<p class="h2"> Instructions </p>
		<button id="showInstructions" type="button" class="btn btn-secondary btn-sm">Show</button>
	</div>
	<div id="instructions">
		{% include instruction_url %}
	</div>
	
	<script>
		// variables
		{% include "scripts/vars.js" %}

		// utilities
		{% include "scripts/utils.js" %}
		{% include "scripts/helpers.js" %}

		window.onload = function () {

			// Design components
			{% include "components/timer.js" %} 
			{% include "components/tradespace_visualization.js" %}
			{% include "components/design_visualization.js" %}
			{% include "components/design_creation.js" %}
			{% include "components/instructions.js" %}
			{% include "components/event_listeners.js" %}

			// Change selected design and Update the design visualization tab
			change_selected_design(selected_curve, selected_point)
			plot_design(selected_curve, selected_point, 'selected')

			//Scoreboard
			update_scoreboard(scoreboard)
		}

		{% include "scripts/liveRecv.js" %}

		// activeTaskId = "design-tab"

	</script>

{% endblock %}
