{% load otree static %}

    <p class="h4 text-center"> I. Scenario	</p>
	<p>
		Imagine you are a material scientist in an engineering firm. You specialize in designing mechanical metamaterials for high-strength light-weight components. Mechanical metamaterials are artificial structures with mechanical properties defined by their structure. 
	</p>
	<p>
		To help you with your job, your firm recently acquired a decision support tool. Your job is to test this tool and complete a questionnaire before and after testing. Your responses in the questionnaire will help us determine how using the tool helps you learn about designing mechanical metamaterials. 
	</p>
	<p>
		<b>Your goal is to learn as much as possible about the problem at hand (i.e., maximize your score by answering as many questions correctly as possible.) </b>
	</p>
	<br>
	<p class="h4 text-center"> II. Tool </p>
	<p> The tool focuses on a specific type of mechanical metamaterial that has following properties:
		<ul>
			<li> A unit cell structure repeats in a 2D plane to create a metamaterial, as seen from Figure below. </li>
			<li> The unit cell structure is made of multiple links joining nodes in a 3 x 3 grid. Not all links are necessary. </li>
			<figure class="figure">
			  	<img src="{% static 'metamaterial.png' %}" class="figure-img img-fluid rounded">
			  	<figcaption class="figure-caption"> Full metamaterial design (left) and a unit cell structure within it (right) </figcaption>
			</figure>

			<li>Every metamaterial is rated using two objectives, vertical stiffness (relates to strength) and volume fraction (relates to weight). 
				<br>
				Additionally, there is a feasibility constraint that the metamaterial should satisfy. All metrics are displayed as adimensional quantities normalized between 0 and 1.
			</li>
			<table class="table">
			  <tbody>
			    <tr>
			      <th scope="row"> Vertical Stiffness </th>
			      <td> Relates to the amount of vertical force required to expand or contract a metamaterial by unit distance vertically </td>
			      <td> The higher the better </td>
			    </tr>
			    <tr>
			      <th scope="row"> Volume Fraction </th>
			      <td> The volume of unit cell structure divided by total volume (including missing links and empty space in the unit area) </td>
			      <td> The smaller the better </td>
			    </tr>
			    <tr>
			      <th scope="row"> Feasibility (Constraint) </th>
			      <td> No two links in a unit cell should intersect, except at nodes. Also, the resulting metamaterial should be fully connected (i.e. it cannot have disconnected subcomponents) </td>
			      <td> Feasibility = 1 is desired. Every violation of the constraint reduces feasibility by 0.1. </td>
			    </tr>
			  </tbody>
			</table>
		</ul>
	</p>
	<br>
	<p> The tool offers many functionalities.
		<ul>
			<li> You can explore a dataset of existing metamaterials. The blue dotted line represents a set of optimal designs, also called <b>the Pareto front</b>. A design belongs to the Pareto front if there exists no other design in the set that has better stiffness for the same or lower volume fraction. For example, the metamaterial design shown here with the red plus symbol is dominated by the Pareto designs on the blue dotted line.
				<br>
			<b>Only metamaterials with feasibility equal to 1 are considered part of pareto front.</b>
			</li>
			<figure class="figure">
			  	<img src="{% static 'tradespace_learning.gif' %}" class="figure-img img-fluid rounded">
			</figure>
			<li> You can create your own metamaterial and evaluate its vertical stiffness and volume fraction. </li>
			<figure class="figure">
			  	<img src="{% static 'design_creation.gif' %}" class="figure-img img-fluid rounded">
			</figure>
			<li> In addition to creating your own designs, the tool offers an artificial intelligence (AI) agent to generate new metamaterials automatically. You can select values of features you like (patterns contained by many good designs) and the AI agent will generate a new metamaterial with those features. Each feature takes value between -2.5 (low) to 2.5 (high). </li>
			<figure class="figure">
			  	<img src="{% static 'feature_exploration.gif' %}" class="figure-img img-fluid rounded">
			</figure>
		</ul>
	 </p>
	  <br>
	<br>
	 <p class="h4 text-center"> III. Sample Questions </p>
	<br>
	 <p>As part of the experiment, you will answer some questions testing your knowledge about this problem before and after using the tool. Below are some examples of questions you may get. </p>
	 <figure class="figure">
			  	<img src="{% static 'sample_question1.JPG' %}" class="figure-img img-fluid rounded">
			  	<figcaption class="figure-caption">Sample Question 1</figcaption>
			</figure>
			<figure class="figure">
			  	<img src="{% static 'sample_question2.JPG' %}" class="figure-img img-fluid rounded">
			  	<figcaption class="figure-caption">Sample Question 2</figcaption>
			</figure>
			<figure class="figure">
			  	<img src="{% static 'sample_question3.JPG' %}" class="figure-img img-fluid rounded">
			  	<figcaption class="figure-caption">Sample Question 3</figcaption>
			</figure>
			<figure class="figure">
			  	<img src="{% static 'sample_question4.JPG' %}" class="figure-img img-fluid rounded">
			  	<figcaption class="figure-caption">Sample Question 4</figcaption>
			</figure>

	<br>
	<br>
	 <p class="h4 text-center"> IV. Experiment Protocol </p>
	 <table class="table">
	  <tbody>
	    <tr>
	      <th scope="row"> Instructions (this part) </th>
	      <td> Please read the instructions carefully. </td>
	      <td> 5 min </td>
	    </tr>
	     <tr>
	      <th scope="row"> Pretest questionnaire </th>
	      <td> Answer 8 questions for assessing your prior knowledge of mechanical metamaterials </td>
	      <td> 5 min </td>
	    </tr>
	    <tr>
	      <th scope="row"> Task 1 </th>
	      <td> Test tool functionalities such as exploration of old metamaterials and creation of new metamaterials </td>
	      <td> 15 min </td>
	    </tr>
	    <tr>
	      <th scope="row"> Questionnaire 1 </th>
	      <td> Answer 12 questions for assessing new things you learned from Task 1 and functionalities within. </td>
	      <td> 5 min </td>
	    </tr>
	    <tr>
	      <th scope="row"> Task 2 </th>
	      <td> Test tool functionalities such as generation of new metamaterials using an AI agent </td>
	      <td> 15 min </td>
	    </tr>
	    <tr>
	      <th scope="row"> Questionnaire 2 </th>
	      <td> Answer 10 questions for assessing new things you learned from Task 2 and functionalities within </td>
	      <td> 5 min </td>
	    </tr>
	    <tr>
	      <th scope="row"> Survey </th>
	      <td> Complete a short survey about self-assessment of your knowledge </td>
	      <td> 15 min </td>
	    </tr>
	    <tr>
	      <th scope="row"> Results </th>
	      <td> Cross-check your responses against correct answers to see how you performed in the questionnaires. Also, review the performance of new metamaterials you created. </td>
	      <td> 5 min </td>
	    </tr>
	  </tbody>
	</table>

	<br>
	<br>
	<p>
		<b>Remember your goal is to maximize the number of correct responses in Questionnaire 1 and Questionnaire 2.</b> Please review sample questions provided above before proceeding. Make sure to utilize Task 1 and Task 2 to learn about mechanical metamaterials as much as possible.		
	</p>


