{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Questionnaire 1
{% endblock %}

{% block scripts %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- Plotting scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}

{% block content %}

	<input type="hidden" name="answers1" value="">

	<p> Please answer the following questions to the best of your understanding. </p>

	<!-- Design Indentification Tests -->
	<p class="h2 text-center"> Part I. Identify Designs </p>
	<p> Definition of Pareto Front: It is a set of designs which are better than other designs in at least one objective (stiffness or volume fraction).</p>
	<!-- Tradespace Panel -->
	<div id="tsViz" style="width:700;height:400px;"></div>
	{% for id in ids_di_test %}
		<b>Question {{ id }}</b>
			<div class="row">
			<!-- Test figures -->
				<div class="col">
					<div class="panel panel-default">
						<div id='di_test{{ id }}_0' style="width:250px;height:150px;align:center"></div>
					</div>
				</div>
				<!-- Test text -->
				<div class="col">
					<p>
						Is this metamaterial design one of the best designs in the dataset (i.e., does it belong on the pareto front curve)?<br>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=0 name="ans_di_test{{ id }}_0" required>Yes</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=1 name="ans_di_test{{ id }}_0" required >No</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=2 name="ans_di_test{{ id }}_0" disabled ></label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=3 name="ans_di_test{{ id }}_0" required checked>Not Sure</label>
					</p>
					<p>
						Does this design have high vertical stiffness (greater than 0.3)?<br>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=0 name="ans_di_test{{ id }}_1" required >Yes</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=1 name="ans_di_test{{ id }}_1" required >No</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=2 name="ans_di_test{{ id }}_1" disabled ></label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=3 name="ans_di_test{{ id }}_1" required checked>Not Sure</label>
					</p>
				</div>
			</div>
	{% endfor %}

	<!-- Design Comparison  -->
	<p class="h2 text-center"> Part II. Compare Designs </p>
	{% for id in ids_dc_test %}
		<b>Question {{ id }}</b>
			<div class="row">
				<!-- Test figures -->
				<div class="col">
					<div class="panel panel-default">
						<div class="panel-heading">Metamaterial A</div>
						<div id='dc_test{{ id }}_0' style="width:250px;height:150px;align:center"></div>
					</div>
				</div>
				<div class="col">
					<div class="panel panel-default">
						<div class="panel-heading">Metamaterial B</div>
						<div id='dc_test{{ id }}_1' style="width:250px;height:150px;align:center"></div>
					</div>
				</div>
				<!-- Test text -->
				<div class="col">
					<p>
						Which metamaterial has higher vertical stiffness?<br>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=0 name="ans_dc_test{{ id }}_0" required>A</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=1 name="ans_dc_test{{ id }}_0" required >B</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=2 name="ans_dc_test{{ id }}_0" required >Minimal difference</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=3 name="ans_dc_test{{ id }}_0" required checked>Not Sure</label>
					</p>
					<p>
						Which metamaterial has higher volume fraction?<br>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=0 name="ans_dc_test{{ id }}_1" required >A</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=1 name="ans_dc_test{{ id }}_1" required >B</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=2 name="ans_dc_test{{ id }}_1" required >Minimal difference</label>
						<label class="radio-inline"><input type="radio" onchange="check_me(this)" value=3 name="ans_dc_test{{ id }}_1" required checked>Not Sure</label>
					</p>
				</div>
			</div>
	{% endfor %}

	<script>
		// variables
		{% include "scripts/vars.js" %}
		// Learning test related variables
		// Read images
		var images_dc_test = js_vars.images_dc_test
		n_dc_tests = images_dc_test.length/2

		var images_di_test = js_vars.images_di_test
		n_di_tests = images_di_test.length

		// utilities
		{% include "scripts/utils.js" %}
		{% include "scripts/helpers.js" %}

		window.onload = function () {
			{% include "components/tradespace_visualization.js" %}
			
			{% include "components/design_comparison_test.js" %}
			{% include "components/design_identification_test.js" %}

			//Listen to the submit button
			document.getElementById("next-btn").addEventListener("click", onclickSubmit, false);
			function onclickSubmit(){
				let answers = $( "input[name^=ans]:checked" );
				answers = Array.from(answers)
				answers = JSON.stringify(answers.map( function (a, i) { return a.value }))

				document.getElementsByName('answers1')[0].value=answers
				console.log(document.getElementsByName('answers1')[0].value)
				setTimeout(
			    	function () {
			        	document.getElementById("form").submit(); 
			    	},
			    	1*1000 // 60 seconds
				);
			}
		}

		function check_me(item) {
			var str = $(item).attr("name");
			str = str.replace(/^\s+|\s+$/g,"");
			var options = document.getElementsByName(str);
			options[0].checked = false;
			options[1].checked = false;
			options[2].checked = false;
			options[3].checked = false;

			var ans = $(item).attr("value");
			options[ans].checked = true;
		}

	</script>

	<button type="button" class="btn btn-primary" id="next-btn">Next</button>

{% endblock %}
